<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time datetime="<%= post.date.format() %>">
	<% if (post.lang) { %>
		    <%= moment(post.date, 'YYYY-MM-DD hh:mm:ss').locale(post.lang).format("LL") %>
    	<% } else { %>
		    <%= moment(post.date, 'YYYY-MM-DD hh:mm:ss').locale(page.lang).format("LL") %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
</div>
